@import "tailwindcss";

:root {
  --color1: #ebebeb;
  --color2: #1c1c1c;
}

@theme inline {
  --color-primary: var(--color1);
  --color-secondary: var(--color2);
}

*,
html,
body {
  font-family: var(--font-montserrat), sans-serif;
}
